<h3>Listings</h3>

<%= form_tag(listings_path, method: :get, remote: true) do %>
  <%= text_field_tag :term, params[:term], placeholder: "Enter country" %>
  <%= submit_tag 'Search', name: nil %>
<% end %>


<div id="listing-lists">
<%= render 'list', object: @listings %>
</div>