<% @user.errors.full_messages.each do |message| %>
$('#helpBlock').append('<div class="notice"><%= j (message)%></div>');
<% end %>



// $(“#emailBlock”).append(‘<%= j (@errorEmail[0])%>’); if i delete this line it works!!