<ul class="list-group">
	<% @listings.each do |listing| %>
		<li class="list-group-item">

			<h4><%= link_to listing.name, user_listing_path(listing.user, listing) %></h4>
			<p>Location: <%= listing.country %></p>
			<p>Description: <%= listing.description %></p>
		</li>
	<% end %>
</ul>

