
<h1>Pairbnb</h1>

<%= link_to 'View Profile', user_path(current_user) %>

<%= link_to 'Create a new listing here', new_listing_path %>

<% if signed_in? && !current_user.listings.nil? %>
<%= link_to 'View your listings', user_listings_path(current_user) %>
<% end %>